
/*  src/Title.css  */
.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(97, 44, 37);
    color: #fff;
  }
  
  .Header a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(110, 46, 46, 0.835);
    font-weight: bold;
    text-decoration: none;
  }
  
  .Header-Subtitle {
      color: rgba(255, 255, 255, 0.75);
  }
  
  .Header .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }